<div class ="container">
  <% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= @task.errors.count %> There are errors.</h2>
    <ul>

    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= form_with(model: @task, local: true) do |form| %>
      <div class="task_name">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
      <div class="task_content">
        <%= form.label :content %>
        <%= form.text_field :content %>
      </div>
      <div class="task_dead_line">
        <%= form.label :dead_line %>
        <%= form.date_select :dead_line %>
      </div>
      <div class="task_status">
        <%= form.label :status %>
        <%= form.select :status, Task.statuses.keys.to_a %>
      </div>
      <div class="task_priority">
        <%= form.label :priority %>
        <%= form.select :priority, Task.priorities.keys.to_a %>
      </div>
      <%= form.submit %>
  <% end %>
  <%= link_to 'Back', tasks_path %>
</div>