<% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %> There are errors.</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<%= form_with(model: @task, local: true) do |form| %>
    <div class='form-group'>
      <%= form.label :name %>
      <%= form.text_field :name, class:'form-control' %>
    </div>
    <div class='form-group'>
      <%= form.label :content %>
      <%= form.text_area :content, class:'form-control' %>
    </div>
    <div class='form-group'>
      <%= form.label :dead_line %>
      <div class="col-3" ml-0>
      <%= form.date_select :dead_line, {}, class:'form-control' %>
      </div>
    </div>
    <div class='form-group'>
      <%= form.label :status %>
      <%= form.select :status, Task.statuses.keys.to_a, {}, class:'form-control' %>
    </div>
    <div class='form-group'>
      <%= form.label :priority %>
      <%= form.select :priority, Task.priorities.keys.to_a, {}, class:'form-control' %>
    </div>
    <div class="task_label">
      <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
    </div>

    <%= form.submit class:'btn btn-primary' %>
    <%= link_to 'Cancel', tasks_path, class:'btn btn-outline-primary ml-3' %>
<% end %>
