<h2 class="card-title">Task detail</h2>

<p class="card-text">Name: <%= @task.name %></p>

<p>Content: <%= @task.content %></p>

<p>Dead_line: <%= @task.dead_line.strftime("%Y-%m-%d") %></p>

<p>Priority: <%= @task.priority %></p>

<p>Status: <%= @task.status %></p>

<p>
    <%= link_to 'Edit', edit_task_path(@task), class:'btn btn-outline-success' %>
    <%= link_to 'Back', tasks_path, class:'btn btn-outline-primary' %>
</p>