<h2 class="card-title mb-4">General users list</h2>
<span> <%= link_to 'New user', new_admin_user_path, class:'btn btn-primary' %> </span>
<br/>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Admin</th>
      <th scope="col">User Tasks</th>
      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <th scope="row"><%= user.name %></th>
      <td><%= user.email %></td>
      <td><%= user.admin %></td>
      <td><%= user.tasks.count %></td>
      <td><%= link_to 'Show', admin_user_path(user), class:'btn btn-outline-primary' %></td>
      <td><%= link_to 'edit', edit_admin_user_path(user), class:'btn btn-outline-success' %></td>
      <td><%= link_to 'delete', admin_user_path(user), method: :delete, class:'btn btn-outline-warning', data: { confirm: 'Are you sure ?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>