<h1>page of <%= @user.name %></h1>

<p>E-mail address: <%= @user.email %></p>

<p>User Tasks: <%= @user.tasks.count %></p>

<div class:'row'>
        <%= link_to 'Edit', edit_admin_user_path(@user), class:'btn btn-outline-primary' %>
        <%= link_to 'Back', tasks_path, class:'btn btn-outline-warning' %>
</div>

<br/>

<h2 class="card-title mb-4">My tasks list</h2>

<%= form_with url: tasks_path, class:'input-group rounded mt-5 mb-5', method: :get, local: true do |form| %>
  <%= form.label :Task_name, class:'mr-3' %>
  <%= form.text_field :name, class:'form-control rounded mr-3', placeholder: 'Search ...' %>
  <%= form.submit 'Search', class:'btn btn-outline-primary mr-3' %>
  <%= form.label :Status, class:'mr-3' %>
  <%= form.select :number, Task.statuses.keys.to_a, { include_blank:'Please select'} %>
<% end %>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Contents</th>
      <th scope="col"><%= link_to 'Deadline', tasks_path(sort_expired: "true") %></th>
      <th scope="col"><%= link_to 'Priority', tasks_path(sort_priority: "true") %></th>
      <th scope="col">Status</th>
      <th scope="col">User name</th>
      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <th scope="row"><%= task.name %></th>
      <td><%= task.content %></td>
      <td><%= task.dead_line.strftime("%Y-%m-%d") %></td>
      <td><%= task.priority %></td>
      <td><%= task.status %></td>
      <td><%= task.user.name %></td>
      <td><%= link_to 'Show', task, class:'btn btn-outline-primary' %></td>
      <td><%= link_to 'edit', edit_task_path(task), class:'btn btn-outline-success' %></td>
      <td><%= link_to 'delete', task, method: :delete, class:'btn btn-outline-warning', data: { confirm: 'Are you sure ?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>